<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Language Recognition</title>
    
    <style>
        #video-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 50px;
        }
        video {
            width: 100%;
            max-width: 600px;
            border: 2px solid #4CAF50;
            border-radius: 10px;
        }
        button {
            margin-top: 10px;
            padding: 10px 20px;
            background-color: #4CAF50;
            color: #fff;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }
        button:hover {
            background-color: #45a049;
        }
    </style>
</head>
<body>
    <div id="video-container">
        <video id="camera-feed" autoplay></video>
        <button onclick="startCamera()">Start Camera</button>
        <p id="predictionResult">Prediction will appear here...</p>
    </div>

   
    <script src="https://cdn.jsdelivr.net/npm/@mediapipe/hands/hands.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@mediapipe/camera_utils/camera_utils.js"></script>
</body>
</html>
