<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %>
    <link rel="stylesheet" href="/css/style2.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
</head>
<body>
    <video width="640" height="480" controls>
        <source src="<%= videos.video %>" type="video/mp4">
       </video>
    <h2><%= videos.title %></h2>
</body>
<script>
    
</script>
</html>